.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav bar */

nav{
  text-align: center;
  display: inline;
  margin-bottom: 10px;
}

ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;  
  position: relative;
  width: -webkit-fill-available;

}
.nav-item {
  align-self: flex-end;
}


li{
  color: black;
  display: inline-block;
  font-family: 'Average Sans', sans-serif;
  position: relative;
  text-align: left;
  
}

.imgCarrousel {
  width: 40rem;
  height: 40rem;
}

.cardText{
  color: black;
  margin-top: 1rem;
  
}

.btnMargin{
  margin-right: 10px;
}

.btnDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardText {
  color: black;
  margin-top: 1rem;
  
}
